﻿<img class="game__pic" src="<%= cover %>"></img>
<div class="game__button">
	<span class="game__button_add <%=  inWishList ? 'game__button_hidden' : '' %>">Добавить</span>
	<span class="game__button_remove <%= inWishList ? '' : 'game__button_hidden' %>">В списке</span>
</div>
<div class="game__text-wrapper">
	<div class="game__name"><%= name %></div>	
	<div class="game__price"><%= price %> руб.</div>	
</div>