<div class="wish-list__color-line"></div>
<div class="wish-list__content-wrapper">
	<div class="wish-list__title">СПИСОК ЖЕЛАЕМОГО</div>
	<div class="wish-list__games"></div>
	<div class="wish-list__amount-wrapper">Сумма: <span class="wish-list__amount"><%= amount %></span> руб.</div>
	<div class="wish-list__clear">Очистить список</div>
</div>
