@import "shared_vars.less";

@imgWidth: 146px;
@imgHeight: 208px;

.game {
	width: @imgWidth;
	display: inline-block;
	vertical-align: top;
	
	&__pic {
		width: @imgWidth;
		height: @imgHeight;
		display: block;
	}

	@buttonHeight: 33px;
	&__button {
		width: @imgWidth;	
		height: @buttonHeight;
  		line-height: @buttonHeight;
	    text-align: center;
		background-color: #3c3d3d;
		font-size: 16px;
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: #222222;
		}

		&_hidden {
			display: none;
		}

		&_add {
			color: #6cfe91;
		}

		&_remove {
			color: @actionColor;
		}	
	}

	&__text-wrapper {
		width: @imgWidth;	
		height: 89px;
		overflow: hidden;
	}

	&__name {
		font-size: 14px;
		text-align: center;
		color: white;
	}

	&__price {
		font-size: 14px;
		text-align: center;
		color: #bababa;
	}
}
