body {
	background-color: #5A5A5A;
}

/*мобильные устройства*/
@media (min-width:300px) and (max-width: 400px) {
	.app-box {
		padding-top: 10px;
		.games {
			text-align: center;
			.game {
				padding: 0 10px;
			}			
		}

		.wish-list {
			margin: 0 auto;
		}
	}
}

/* планшеты */
@media (min-width: 401px) and (max-width: 1024px) {
	.app-box {
		padding: 10px 15px 0;

		.center-wrapper {
			display: table;

			.games {
				display: table-cell;
				padding-right: 20px;
				margin-right: @wishListWidth;	

				.game {
					padding-right: 20px;
				}												
			} 

			.wish-list {
				display: table-cell;
				vertical-align: top;
			}
		}
	}
}

/* ПК */
@media (min-width: 1025px) {
	.app-box {
		padding: 90px 175px 0;

		.center-wrapper {
			display: table;

			.games {
				display: table-cell;
				padding-right: 20px;
				margin-right: @wishListWidth;	

				.game {
					padding-right: 20px;
				}												
			} 

			.wish-list {
				display: table-cell;
				vertical-align: top;
			}
		}
	}
}