@import "shared_vars.less";

.wish-list {
	width: @wishListWidth;
	height: 391px;

	&__color-line {
		background-color: @actionColor;
		width: @wishListWidth;
		height: 10px;
	}

	&__content-wrapper {
		min-height: 387px;
		background-color: #3c3d3d;
		padding: 12px 20px 0;

		&-drag-active {
			border: 1px solid #60CCFF;
		}
	}
	
	&__title {
		@fontSize: 24px;
		font-size: @fontSize;
	    line-height: @fontSize;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: white;
		padding-bottom: 11px
	}

	&__amount-wrapper {
		padding-left: @wishListTextPaddingLeft;
		color: white;
		font-family: @generalFont;
		font-size: 14px;
		padding-bottom: 10px;
	}

	&__amount {
		color: @actionColor;
	   	font-weight: bold;
	}

	&__clear {
		padding-left: @wishListTextPaddingLeft;
		color: @actionColor;
		font-family: @generalFont;
		font-size: 12px;
		text-decoration: underline;
		cursor: pointer;
		padding-bottom: 10px;
		user-select: none;
	}
}