@import "shared_vars.less";

.wish-game {
	@gameWrapperWidth: 212px;
	@gameWrapperHeight: 27px;
	@gameRemoveBtnWidth: 30px;

	display: table;
	cursor: pointer;
	
	&:hover {
		background-color: #575757;
	}
	
	&:last-child {
		margin-bottom: 29px;
	}

	&__title {
		width: @gameWrapperWidth - @gameRemoveBtnWidth - @wishListTextPaddingLeft;
		padding-left: @wishListTextPaddingLeft;
		font-family: @generalFont;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		color: white;
		display: table-cell;
	}

	&__remove {
		background-image: url(../static/img/remove_button.png);
		background-repeat: no-repeat;
		background-position: center;
		width: @gameRemoveBtnWidth;
		height: 100%;
		color: white;
		display: table-cell;
	}
}